<ion-modal-view class="modal-view">
	<ion-header-bar>
		<h1 class="title modal-title">Política de Privacidade</h1>
		<a class="button button-clear" ng-click="privacy_policy_modal.hide()"><span class="icon ion-close"></span></a>
	</ion-header-bar>
	<ion-content class="padding">
    <div class="row">
      <div class="col">
        <div class="privacy-policy">
    			<p>Última modificação: Maio 8, 2017</p>
    			<h4 class="title">Bem vindo ao E-Carrier!</h4>
    			<p>Obrigado por usar nossos produtos e serviços. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus illo placeat temporibus est dolore sint, magnam odit. Ipsam, ratione odio quam adipisci dicta, atque nam eos officiis aut. Adipisci, necessitatibus!</p>
    			<h4 class="title">Usando nosso serviço.</h4>
    			<p>Você deverá seguir nossas potíticas e termos para utilizar nossos serviços.</p>
    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime culpa alias recusandae assumenda, similique veritatis, pariatur ut exercitationem dignissimos quis sint veniam corporis consequatur tenetur perspiciatis. Fuga ab, sunt asperiores!</p>
    			<h4 class="title">Sobre os termos.</h4>
    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, magnam ut assumenda aut hic expedita pariatur omnis doloribus similique vero reiciendis deleniti labore in magni veniam quaerat libero provident architecto.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, maxime! Officia ullam fugiat porro ipsa repellat neque totam dolorem, laboriosam adipisci alias! Alias sit atque ipsa, amet, distinctio pariatur voluptates!</p>
    		</div>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
