<ion-view class="auth-view" cache-view="false">
  <ion-nav-bar class="view-navigation">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      <span>Resetar Senha</span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <a class="button button-clear button-light" ui-sref="app.profile.posts">
        Pular
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="row related-copy">
      <div class="col">
        <h5>Por favor entre com seu e-mail que logo em seguida lhe enviaremos um e-mail para resetar sua senha.</h5>
      </div>
    </div>
    <div class="row form-wrapper">
      <div class="col">
        <form name="forgot_password_form" class="" novalidate>
          <div class="form-fields-outer list list-inset">
            <label class="item item-input">
              <input type="email" placeholder="Email" name="email" ng-model="user.email" required>
            </label>
          </div>
          <button type="submit" class="sign-up button button-block" ng-click="requestNewPassword()" ng-disabled="forgot_password_form.$invalid">
            Resetar Senha
          </button>
          <p ng-show="error" class="message error">{{error}}</p>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
