<ion-view class="profile-view novamsg" cache-view="false" view-title="Nova Mensagem">
  <ion-content has-bouncing='false' class="profile-content" delegate-handle="profile-scroll">
    <div class="row profile-data novamsg-data">
      <div class="col padding">
        <ion-slide-box class="profile-slides" on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <div class="row slide-content">
              <div class="col">
              <div class="row row-selecao">
                <div class="col"></div>
                 <div class="col col-50 col-center ">
                      <h3 class="textonovamsg">Escolha o tipo de mídia.</h3>
                  </div>
                  <div class="col"></div>
              </div>   
               <span></span>            
                <!-- We need a wrapper with width set for the preload image directive -->
                <div class="row row-selecao">
                 <div class="col padding">
                     <button class="button button-clear"><h4 class="textonovamsg">Foto</h4></button>   
                  </div>
                  <div class="col padding">
                      <button class="button button-clear"><h4 class="textonovamsg">Vídeos</h4></button>
                  </div>
              </div>
                <div ng-controller="NovaMsgCtrl">
                    <button class="button button-full button-positive" ng-click="getImageSaveContact()">
                        Get Image and Save a Contact with It
                    </button>
                    <img ng-src="{{collection.selectedImage}}" style="width:100%; height: auto;"/>
                </div>
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="row slide-content">
              <div class="col col-center">
                <p class="">
                  teste2
                </p>
              </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="row slide-content">
              <div class="col col-center">
                <p class="">
                  teste3
                </p>
              </div>
            </div>
          </ion-slide>          
        </ion-slide-box>
      </div>
    </div>
      
  </ion-content>
</ion-view>