<ion-view view-title="Créditos" class="shop-home-view">
  <ion-content>
    <div class="list shop-home-options-list">
      <a class="item shop-home-option-item">
        <div class="row">
          <div class="col">
            <pre-img ratio="_2_1" helper-class="shop-home-option-image-outer">
              <!-- <img ng-src="http://lorempixel.com/300/150" spinner-on-load> -->
              <img ng-src="img/sale-10.png" spinner-on-load>
            </pre-img>
          </div>
        </div>
        <div class="row option-copy">
          <div class="col col-75">
            <span>Comprar Créditos</span>
          </div>
          <div class="col col-25 option-icon">
            <i class="icon ion-chevron-right"></i>
          </div>
        </div>
      </a>
      <a class="item shop-home-option-item">
        <div class="row">
          <div class="col">
            <pre-img ratio="_2_1" helper-class="shop-home-option-image-outer">
              <!-- <img ng-src="http://lorempixel.com/300/150" spinner-on-load> -->
              <img ng-src="img/sale-25.png" spinner-on-load>
            </pre-img>
          </div>
        </div>
        <div class="row option-copy">
          <div class="col col-75">
            <span>Comprar Créditos.</span>
          </div>
          <div class="col col-25 option-icon">
            <i class="icon ion-chevron-right"></i>
          </div>
        </div>
      </a>
      <a class="item shop-home-option-item">
        <div class="row">
          <div class="col">
            <pre-img ratio="_2_1" helper-class="shop-home-option-image-outer">
              <!-- <img ng-src="http://lorempixel.com/300/150" spinner-on-load> -->
              <img ng-src="img/sale-50.png" spinner-on-load>
            </pre-img>
          </div>
        </div>
        <div class="row option-copy">
          <div class="col col-75">
            <span>Comprar Créditos</span>
          </div>
          <div class="col col-25 option-icon">
            <i class="icon ion-chevron-right"></i>
          </div>
        </div>
      </a>
    </div>
    <div class="item item-divider shop-section-title">
      <span class="title-copy">Não quer se limitar aos valores de cima? <br>Escolha um valor seu: R${{userValor.value}}</span>
      <div class="item range range-positive">
        <p>R$5</p>
        <input type="range" name="volume" step="5" min="5" min="{{useValor.min}}" max="{{userValor.max}}" value="{{userValor.value}}" ng-model="userValor.value">
        <p>R$100</p>
      </div>
      <button class="button button-royal button-full">Quero esse valor!</button>
    </div>
  </ion-content>
</ion-view>
